# 定义所有服务（容器）
services:


  # 后端服务 (Python)

  backend-service:
    container_name: python-backend-api
    build:
      # 指向你的 Python 项目和 Dockerfile 所在的文件夹
      context: ./python-backend/python-backend
      dockerfile: Dockerfile
    ports:
      # 将主机的 8081 端口映射到容器的 5000 端口
      # 访问API: http://localhost:8081
      - "8081:5000"
    environment:
      # 数据库连接URI，主机名'postgres-db'必须与下面的数据库服务名一致
      # Python应用需要读取这个环境变量来连接数据库
      - DATABASE_URL=postgresql://DBManager:PostgresServer@postgres-db:5432/PlazaDB
    depends_on:
      # 确保在启动此服务前，数据库服务已准备就绪
      - postgres-db
    networks:
      - app-network


  # 前端服务 (Vue.js + Nginx)

  frontend-service:
    container_name: frontend-app
    build:
      # 指向前端 package.json 和 Dockerfile 所在的实际项目文件夹
      context: ./frontend/frontend
      dockerfile: Dockerfile
    ports:
      # 将主机的 8080 端口映射到容器的 80 端口 (Nginx默认端口)
      # 访问应用: http://localhost:8080
      - "8080:80"
    depends_on:
      # 确保在后端API启动后，再启动前端服务
      - backend-service
    networks:
      - app-network


  # 数据库服务 (PostgreSQL + PostGIS)

  postgres-db:
    # 服务名 'postgres-db'，用于在容器间进行内部通信
    container_name: postgres-postgis-db
    image: postgis/postgis:latest # 使用包含PostGIS扩展的官方镜像
    ports:
      # 将主机的 5433 端口映射到容器的 5432 端口（防止和本地可能安装有的postgresql冲突）
      - "5433:5432"
    environment:
      # 设置数据库的超级用户(postgres)的密码和默认数据库
      - POSTGRES_DB=PlazaDB
      - POSTGRES_USER=DBManager
      - POSTGRES_PASSWORD=PostgresServer # 请务必在生产环境中使用更强的密码
    volumes:
      # 初始化目录
      - ./db-init:/docker-entrypoint-initdb.d
      # 将容器内的数据目录挂载到数据卷'postgres-data'
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

# 定义网络
networks:
  app-network:
    driver: bridge

# 定义数据卷
volumes:
  # Docker将自动创建和管理这个名为'postgres-data'的数据卷
  postgres-data: